html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

button:focus {
    outline: none;
}

.navbar {
    margin-bottom: 0px;
    background-color: none !important;
    min-height: 0px;
}

.navbar ul li {
    display: inline;
    opacity: 1;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-right: 2vw;
}

.navbar ul {
    margin-top: 1vw;
    float: right !important;
}

nav {
    background-color: none !important;
}

nav a,
nav a:hover,
nav a:focus {
    color: white;
    text-decoration: none;
}

.homeButton {
    position: absolute;
    left: -1em;
}

.fa-home {
    font-size: 1.5em;
}

.jumbotron {
    width: 100%;
    height: 40vw;
    margin-bottom: 0px;
    background-image: url('imgs/jumbo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
/*    background-color: #2887CA;*/
    padding-bottom: 0px;
}

section:not(#footer) {
    padding-top: 5em;
    margin-bottom: 2em;
}

section a,
section a:focus {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: #0E70A7;
    text-decoration: none;
}

.container div:not(.itemHeader) {
    padding: 0 2em;
}

.wrappingSection:last-of-type {
    margin-bottom: 10em;
}

#education .thumbnail img{
    height: 7vh !important;
    width: auto;
}

#education .thumbnail,
#experience .thumbnail {
    padding: 0px;
    border: none;
    box-shadow: none;
}

#education .thumbnail h2 {
    text-align: center;
}

#projects {
    border-bottom: solid 1px #f4f4f4;
}

#projects .row {
    padding-bottom: 5em;
    border-bottom: solid 1px #F4F4F4;
}

#projects .row:not(:first-of-type) {
    margin-top: 2em;
}

.item {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    padding: 3em 0 3em 0 !important;
}

.itemTitle {
    margin: 0;
    font-weight: bolder;
}

.itemDuration {
    color: #6A6A6A;
}

.itemDuration:hover {
    color: #628BCD;
}

/* Company Logos */
.drexelLogo {
    display: inline-block;
    width: 15em;
    padding: 1em;
}

.exciteLogo {
    margin-top: -1em;
    width: 11em;
}

.dlLogo {
    width: 12em;
}

.mjLogo {
    display: inline-block;
    width: 7em;
    padding: 1em;
    border-radius: 30%;
}

.plLogo {
    display: inline-block;
    width: 10em;
    padding: 1em;
}

.jobBody {
    padding-top: 1em !important;
}

.jobBody a {
    color: #BB0820;
}


/* Projects */
.projectLinks {
    float: right;
    font-size: 1.4em;
}

.projectLinks a:hover{
    color: black;
}

.projectLinks span {
    opacity: 0.5;
    margin: 0 0.3em;
}

.projectLinks span:hover {
    color: black;
    opacity: 0.9;
}

.projectImage {
    text-align: center;
    margin-top: 2em;
}

.projectImage img {
    width: 70%;
    border-radius: 0.5em;
    box-shadow: 0 0 30px -7px rgba(0,0,0,1);
}

.projectBody div {
    font-size: 1.3em;
    margin-bottom: 2em;
}

.projectBody h3 {
    font-weight: 500;
}


/* More-less button for an item in projects, experience, etc. */
.more-less-button {
    border: none;
    border-radius: 3px;
    margin: 2em auto 0 auto;
    width: 12em;
    display: block;
}

.more-less-button:hover {
    background-color: #2887CB;
    border: none;
    border-radius: 3px;
    color: white;
}

.howWeBegan a {
    color: #BB0820;
}

.howWeBegan b {
    font-weight: 900;
    color: #008000;
}

.lessButton {
    display: none;
}


/* Part of sectionBody (eg: projectBody) that has the information that is toggled on clicking More-Less Buttons */
span.more {
    display: none;
}


/* People associated with an item in a section */
.people li {
    display: inline-block;
    text-align: center;
    margin-right: 2em;
    font-size: 0.8em;
}

.people li img {
    width: 60px;
    border-radius: 50%;
}

.people li img:hover {
    transform: scale(1.1);
}



/* Button that navigates to a different page for more information */
.showOthers {
    border: none !important;
}

.showOthers a:focus,
.showOthers a:hover {
    color: black;
    border: none;
}

.showButton {
    border: none;
    border-radius: 3px;
    margin: 2em auto 0 auto;
    width: 12em;
    display: block;
}

.showButton:hover {
    background-color: #0A8307;
    border: none;
    border-radius: 3px;
    color: white;
}

.showButton .fa {
    padding-left: 1em;
    font-size: 0.8em;
    vertical-align: middle;
}

.brackets {
    color: #D8D8DC;
}


/* Skills */
.listElement {
    display: inline-block;
    margin-right: 1em;
}

.listElement img {
    width: 4.5em;
    border-radius: 5px;
}

.listElement img:hover {
    transform: scale(1.1);
}

@media (max-width: 1000px) {
    .listElement {
        margin-bottom: 2em;
    }
}


/* Footer */
#footer {
    padding: 2em;
    background-color: black;
    text-align: center;
    color: white;
}

#footer .row {
    margin-bottom: 0.5em;
}

#footer .name {
    font-size: 1.3em;
}

#footer .links .fa {
    font-size: 1.5em;
    color: white;
}

#footer .links .fa:not(.fa-facebook-official) {
    margin-right: 0.5em;
}

.name {
    padding: 0 !important;
}