body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar ul li {
    display: inline;
    opacity: 1;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    margin-right: 2vw;
   /* width: 100%;
    height: 7%;*/

}

.navbar ul {
    margin-top: 1vw;
    float: right !important;
}

nav {
    background-color: none !important;
}

.navbar {
    margin-bottom: 0px;
    background-color: none !important;

}

.navbar-fixed-top {
    /*background: linear-gradient(to bottom, #ffffff, #fafafa);*/
}

.jumbotron {
    width: 100%;
    height: 40vw;
    margin-bottom: 0px;
    background-image: url('imgs/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
/*    background-color: #2887CA;*/
    padding-bottom: 0px;
}

section {
    margin-bottom: 2em;
}

section a,
section a:hover,
section a:focus {
    color: black;
    text-decoration: none;
}

.container div {
    padding-left: 2em;
}

.thumbnail img{
    height: 7vh !important;
    width: auto;
}

.thumbnail {
    padding: 0px;
    border-style: none;
    border-width: 0px;
    box-shadow: none;
}

.thumbnail h2 {
    text-align: center;
}

#education .thumbnail:hover {
    transform: scale(1.1,1.1); /* Standard syntax */
}

#Projects .row {
    padding-bottom: 5em;
    margin-top: 2em;
    border-bottom: solid 1px #F4F4F4;
}

.projectLinks {
    float: right;
    font-size: 1.4em;
}

.projectLinks span {
    opacity: 0.5;
    margin: 0 0.3em;
}

.projectLinks span:hover {
    opacity: 0.9;
}

.projectDuration {
    color: #6A6A6A;
}

.projectDuration:hover {
    color: #628BCD;
}

.projectImage {
    text-align: center;
}

.projectImage img {
    width: 70%;
    border-radius: 0.5em;
}

.projectBody div {
    font-size: 1.3em;
}

.projectBody h3 {
    text-decoration: underline;
}

span.more {
    display: none;
}

.more-less-button {
    border: none;
    border-radius: 3px;
    margin: 0px auto;
    width: 50px;
    display: block;
}

.more-less-button:hover {
    background-color: #2887CB;
    border: none;
    border-radius: 3px;
    color: white;
}

.lessButton {
    display: none;
}

.brackets {
    color: #D8D8DC;
}