body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    margin-bottom: 0px;
    background-color: none !important;
    min-height: 0px;
}

.navbar ul li {
    display: inline;
    opacity: 1;
    color: white;
    font-size: 1vw;
    font-weight: bold;
    margin-right: 2vw;
}

.navbar ul {
    margin-top: 1vw;
    float: right !important;
}

nav {
    background-color: none !important;
}


nav a,
nav a:hover,
nav a:focus {
    color: white;
    text-decoration: none;
}

.jumbotron {
    width: 100%;
    height: 40vw;
    margin-bottom: 0px;
    background-image: url('imgs/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
/*    background-color: #2887CA;*/
    padding-bottom: 0px;
}

section {
    padding-top: 5em;
    margin-bottom: 2em;
}

section a,
section a:focus {
    color: black;
    text-decoration: none;
}

section a:hover {
    color: #0E70A7;
    text-decoration: none;
}

.container div {
    padding-left: 2em;
}

.thumbnail img{
    height: 7vh !important;
    width: auto;
}

.thumbnail {
    padding: 0px;
    border-style: none;
    border-width: 0px;
    box-shadow: none;
}

.thumbnail h2 {
    text-align: center;
}

#education .thumbnail:hover {
    transform: scale(1.1,1.1); /* Standard syntax */
}

#projects .row {
    padding-bottom: 5em;
    margin-top: 2em;
    border-bottom: solid 1px #F4F4F4;
}

.projectTitle {
    font-weight: bolder;
}

.projectLinks {
    float: right;
    font-size: 1.4em;
}

.projectLinks span {
    opacity: 0.5;
    margin: 0 0.3em;
}

.projectLinks span:hover {
    color: black;
    opacity: 0.9;
}

.projectDuration {
    color: #6A6A6A;
}

.projectDuration:hover {
    color: #628BCD;
}

.projectImage {
    text-align: center;
}

.projectImage img {
    width: 70%;
    border-radius: 0.5em;
}

.projectBody div {
    font-size: 1.3em;
}

.projectBody h3 {
    text-decoration: underline;
}

span.more {
    display: none;
}

.more-less-button {
    border: none;
    border-radius: 3px;
    margin: 2em auto 0 auto;
    width: 12em;
    display: block;
}

.more-less-button:hover {
    background-color: #2887CB;
    border: none;
    border-radius: 3px;
    color: white;
}

.lessButton {
    display: none;
}
.showButton {
    border: none !important;
}

.showOthers {
    border: none;
    border-radius: 3px;
    margin: 2em auto 0 auto;
    width: 12em;
    display: block;
}

.showOthers:hover {
    background-color: #0A8307;
    border: none;
    border-radius: 3px;
    color: white;
}

.hideButton {
    display: none;
    border: none !important;
}

.hideOthers {
    border: none;
    border-radius: 3px;
    margin: 2em auto 0 auto;
    width: 12em;
    display: block;
}

.hideOthers:hover {
    background-color: #0A8307;
    border: none;
    border-radius: 3px;
    color: white;
}

.othersOfType {
    display: none;
}

.brackets {
    color: #D8D8DC;
}