html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    margin-bottom: 0px;
    background-color: none !important;
    min-height: 0px;
}

.navbar ul li {
    display: inline;
    opacity: 1;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-right: 2vw;
}

.navbar ul {
    margin-top: 1vw;
    float: right !important;
}

nav {
    background-color: none !important;
}

nav a,
nav a:hover,
nav a:focus {
    color: white;
    text-decoration: none;
}

.homeButton {
    position: absolute;
    left: -1em;
}

.fa-home {
    font-size: 1.5em;
}

.jumbotron {
    width: 100vw;
    height: 100vh;
    margin-bottom: 2em;
    background-image: url('../imgs/jumbo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
/*    background-color: #2887CA;*/
    padding-bottom: 0px;
}

.jumbotron p {
  color: white;
  font-family: "Courier";
  font-size: 3em !important;
  margin: 5em auto 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 9em;
  animation: type 2s steps(15, end);
}

.jumbotron p span {
  animation: blink 1s infinite;
}

@keyframes type {
  from { width: 0; }
}

@keyframes blink {
  to{opacity: .0;}
}

.thumbnail {
    width: 25%;
    display: inline-block;
    padding: 0.7em;
    border: none;
    box-shadow: none;
    text-align: center;
}

.thumbnail img {
    border-radius: 0.3em;
}

.thumbnail p {
    font-size: 1.3em;
    padding-top: 0.2em;
}

/* Footer */
#footer {
    padding: 2em;
    background-color: black;
    text-align: center;
    color: white;
}

#footer .row {
    margin-bottom: 0.5em;
}

#footer .name {
    font-size: 1.3em;
}

#footer .links .fa {
    font-size: 1.5em;
    color: white;
}

#footer .links .fa:not(.fa-facebook-official) {
    margin-right: 0.5em;
}

.name {
    padding: 0 !important;
}
