.counter {
  width: 35%;
  height: auto;
  background-color: #e6e6e6;
  margin-left: 5em;
  padding: 2em;
  text-align: center;
  border-radius: 5px;

  .value {
    font-size: 3em;
  }

  button {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #2d73bb;
    border: none;
    border-radius: 5px;

    box-shadow: none;

    color: white;
    font-size: 1.5em;

    cursor: pointer;
  }
}
