html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.center {
    margin: auto;
    text-align: center;
}

.jumbotron {
    width: 100vw;
    height: 100vh;
    margin-bottom: 2em;
    background-image: url('imgs/blogPageImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
/*    background-color: #2887CA;*/
    padding-bottom: 0px;
}

.thumbnail {
    width: 25%;
    display: inline-block;
    padding: 0.7em;
    border: none;
    box-shadow: none;
    text-align: center;
}

.thumbnail img {
    border-radius: 0.3em;
}

.thumbnail p {
    font-size: 1.3em;
    padding-top: 0.2em;
}

/* Article */
/*.contentSection {
    border-bottom: solid 1px rgba(0,0,0,0.2);
    margin-bottom: 5em;
    padding-bottom: 2em;
}*/

.post {
    width: 75%;
    margin: auto;
}

.headerContent {
    padding-left: 1em;
}

.headerContent b {
    color: #0DC126;     /* Color for bold text in .headerContent */
}

.gifWrapper {
    width: 70%;
}

img.learningWP {
    width: 100%;
}

.displayList {
    cursor: pointer;
}

.displayList b {
    color: #0DC126;
}

.displayList .fa {
    padding-left: 0.3em;
    color: #d3d3d3;
}

.displayList .fa:hover {
    color: black;
}

.articleList {
    display: none;
}

.articleList a,
.articleList a:focus {
    color: black;
    text-decoration: none;
}

.articleList a:hover {
    color: #0E70A7;
    text-decoration: none;
}

.lightboxRow {
    margin: 3em auto;
}

.lightboxShadow {
    padding: 1em;
    box-shadow: 0 0 30px -5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.fluidbox-wrap img {
    width: 100%;
    border-radius: 0.4em;
}

/* Footer */
#footer {
    padding: 2em;
    background-color: black;
    text-align: center;
    color: white;
}

#footer .row {
    margin-bottom: 0.5em;
}

#footer .name {
    font-size: 1.3em;
}

#footer .links .fa {
    font-size: 1.5em;
    color: white;
}

#footer .links .fa:not(.fa-facebook-official) {
    margin-right: 0.5em;
}

.name {
    padding: 0 !important;
}
