@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

html {
  width: 100%;
  height: 100%; }
  html body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1d222f;
    color: white; }
    html body a {
      color: white;
      text-decoration: none; }
      html body a:visited {
        color: white;
        text-decoration: none; }
    html body #content {
      width: 100%;
      height: 100%;
      background-color: #1d222f; }
      html body #content > * {
        width: 100%;
        height: 100%; }

