@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "~styles/variables";

html {
  width: 100%;
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: 'Source Sans Pro', sans-serif;

    background-color: $bg-color-default;
    color: white;

    a {
      color: white;
      text-decoration: none;

      &:visited {
        color: white;
        text-decoration: none;
      }
    }

    #content {
      width: 100%;
      height: 100%;

      background-color: $bg-color-default;

      > * {
        width: 100%;
        height: 100%;
      }
    }
  }
}
